.singup {
    width: 1200px;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 30px;
}

.singup_navbar {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 149, 0);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.singup_navbar>h1 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.singup_navbar>i {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .singup {
        width: 98%;
        height: 2000px;
        /* border: 1px solid black; */
    }

    .singup_navbar {
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }

    .singup_navbar>h1 {
        width: 100%;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-family: sans-serif;
    }

}

/* -------------------------------------------------------------- */

.singup_navbartwo {
    width: 100%;
    height: 60px;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin-top: 10px;
}

.singup_navbartwo>img {
    width: 40px;
    margin-left: 100px;
    cursor: pointer;
}

.singup_navbartwo>ul {
    list-style: none;
    margin-left: 25px;
    gap: 20px;
    display: flex;
}

.singup_navbartwo>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
}

.singup_navbartwo_login {
    width: 220px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
}

.singup_navbartwo_login>.Up {
    width: 105px;
    height: 100%;
    font-size: 13px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.singup_navbartwo_login>.In {
    width: 95px;
    color: white;
    height: 100%;
    font-size: 13px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 149, 0);
    border-radius: 5px;
    cursor: pointer;
}

.singup_navbartwo>.fries {
    display: none;
}

@media (max-width: 600px) {
    .singup_navbartwo {
        width: 100%;
    }

    .singup_navbartwo>img {
        width: 40px;
        margin-left: 3px;
    }

    .singup_navbartwo>ul {
        display: none;
    }

    .singup_navbartwo_login {
        width: 200px;
        height: 35px;
        margin-left: 90px;
    }

    .singup_navbartwo_login>.Up {
        height: 100%;
    }

    .singup_navbartwo_login>.In {
        height: 100%;
    }

    .singup_navbartwo>.fries {
        display: block;
        margin-left: 16px;
        font-size: 30px;
        display: flex;
        align-items: center;
    }
}

/* --------------------------------------------------------------- */

.singup_main {
    width: 100%;
    height: 90vh;
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
}

.singup_main_left {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
}



.singup_main_left_box {
    width: 90%;
    height: 470px;
    /* border: 1px solid black; */
    margin-top: 90px;
}

.singup_main_left_box>h1 {
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 95px;
}

.singup_main_left_box>p {
    margin-left: 95px;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 10px;
    color: #59595A;
}

.web_design_box {
    width: 540px;
    height: 210px;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 95px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
}

.web_design_box>p {
    margin-top: 22px;
    font-size: 14px;
    margin-left: 10px;
    font-family: sans-serif;
}

.img_and_btn {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 40px;
    padding-left: 10px;
}

.img_and_btn>h2 {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.img_and_btn>button {
    width: 100px;
    height: 40px;
    border-color: green;
    margin-left: 270px;
    cursor: pointer;
    border: transparent;
}

.design_box_arrow {
    width: 100px;
    height: auto;
    display: flex;
    gap: 10px;
    margin-left: 450px;
    margin-top: 35px;
}

.left_arrow {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.right_arrow {
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .singup_main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .singup_main_left {
        width: 100%;
    }

    .singup_main_left_box {
        width: 380px;
        margin-top: 70px;
    }

    .singup_main_left_box>h1 {
        width: 100%;
        margin-left: 10px;
        margin-top: -50px;
        font-size: 24px;
    }

    .singup_main_left_box>p {
        width: 97%;
        font-size: 17px;
        margin-left: 10px;
    }

    .web_design_box {
        width: 95%;
        height: 300px;
        /* border: 2px solid black; */
        margin-left: 10px;
        border-radius: 8px;
    }

    .web_design_box>p {
        width: 100%;
        font-size: 19px;
        margin-top: 30px;
        margin-left: 15px;
    }

    .img_and_btn {
        width: 100%;
        margin-top: 40px;
    }

    .design_box_arrow {
        margin-left: 70px;
        margin-top: -20px;
    }

    .img_and_btn>img {
        margin-left: 10px;
    }

    .img_and_btn>button {
        margin-left: 60px;
    }

    .design_box_arrow {
        width: 130px;
        height: auto;
        /* border: 1px solid black; */
        margin-top: 80px;
        margin-left: 110px;
    }

    .left_arrow {
        width: 50px;
        border-radius: 10px;
        height: 50px;
        margin-left: 10px;
    }

    .right_arrow {
        width: 50px;
        border-radius: 10px;
        height: 50px;
    }
}

.singup_main_right {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: white;
    margin-left: -2px;
    border-radius: 7px;
}

.singup_main_right_text {
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}

.singup_main_right_text>h1 {
    font-family: sans-serif;
    margin-top: 20px;
}

.singup_main_right_text>p {
    font-family: sans-serif;
}

.right_signup {
    width: 90%;
    height: 530px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 30px;
}

.right_signup>h2 {
    font-size: 23px;
    font-family: sans-serif;
    margin-top: 30px;
}

.right_signup>input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 8px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-top: 4px;
}

.right_signup_btn {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 149, 0);
    color: white;
    font-size: 23px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: green;
    border: transparent;
}

.right_chekbox {
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.right_chekbox>input {
    width: 20px;
    height: 20px;
}

.right_signup>p {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.right_signup_btn2 {
    width: 100%;
    height: 50px;
    background-color: #f7f7f8;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    border-radius: 10px;
    border-color: green;
    font-family: sans-serif;
    font-weight: 500;
    border: transparent;
}

@media (max-width: 600px) {
    .singup_main_right {
        width: 97%;
        margin-left: 6px;
        margin-top: 90px;
        padding-top: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .right_chekbox {
        width: 100%;
    }
}

.singup_footer {
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .singup_footer {
        width: 95%;
        height: 550px;
        margin-top: 515px;
        margin-left: 5px;
        position: absolute;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
}

.singup_footer_In {
    width: 90%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
}

.footer_part_one {
    width: 300px;
    height: 100%;
    /* border: 1px solid black; */
}

.part_one_letter {
    width: 200px;
    height: 20px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.part_one_call {
    width: 200px;
    height: 20px;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.part_one_location {
    width: 200px;
    height: 20px;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.footer_part_two {
    width: 420px;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
}

.footer_first {
    width: 205px;
    height: 100%;
    /* border: 1px solid black; */
}

.footer_first>h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer_first>p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: #59595A;
}

.footer_second {
    width: 205px;
    height: 100%;
    /* border: 1px solid black; */
}

.footer_second>h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer_second>p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: #59595A;
}

.footer_part_three {
    width: 200px;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 10px;
}

.footer_part_three>h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.three_icon {
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.three_icon>i {
    font-size: 30px;
}

@media (max-width: 600px) {
   
    .singup_footer_In {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer_part_one>img{
        margin-left: 5px;
    }

    .footer_part_two {
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }

    .footer_second {
        width: 200px;
        margin-left: 5px;
    }

    .footer_first{
        margin-left: 5px;
    }

    .part_one_letter>p {
        font-size: 22px;
        margin-top: 0px;
    }

    .part_one_letter>i {
        font-size: 25px;
        margin-left: 5px;
    }

    .part_one_call>p {
        font-size: 20px;
        margin-top: 2px;
    }

    .part_one_call>i {
        font-size: 25px;
        margin-left: 3px;
    }

    .part_one_location>p {
        width: 100%;
        font-size: 20px;
        margin-left: 3px;
    }

    .part_one_location>i {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 3px;
    }

    .footer_part_three{
        margin-left: 6px;
        margin-top: 0px;
    }
}